# Code Comparison
Ref: https://towardsdatascience.com/pandas-vs-polars-a-syntax-and-speed-comparison-5aa54e27497e

Install libs

In [ ]:
!pip install polars
!pip install codetiming 
!pip install numpy 
!pip install pandas

Import libs

In [3]:
import polars as pl
import pandas as pd
from codetiming import Timer
import numpy

In [94]:
pathToFile = 'C:/path/to/file/owid-covid-data.csv'

In [95]:
def pandasReadCSV():
  #ini timer
  timer = Timer(text=f"Task elapsed time: {{:.1f}}")
  timer.start()

  #pandas read csv
  pd.read_csv(pathToFile)
  
  #end timer and return results
  timer.stop()
  return timer.last

#loop function 10x
pandasResult = [pandasReadCSV() for pandasResult in range(10)]

#calc mean time execution
meanPandasResult = str(round(numpy.average(pandasResult), 2))
sumPandasResult = str(round(numpy.sum(pandasResult), 2))
print('Mean Pandas result: ' + meanPandasResult + 's, the execution lasted: ' + sumPandasResult + 's')

Task elapsed time: 1.6
Task elapsed time: 1.5
Task elapsed time: 1.5
Task elapsed time: 1.4
Task elapsed time: 1.5
Task elapsed time: 1.4
Task elapsed time: 1.4
Task elapsed time: 1.4
Task elapsed time: 1.4
Task elapsed time: 1.4
Mean Pandas result: 1.46s, the execution lasted: 14.56s

In [96]:
def PolarsReadCSV():
  #ini timer
  timer = Timer(text=f"Task elapsed time: {{:.1f}}")
  timer.start()

  #polars read csv
  pl.read_csv(pathToFile)
  
  #end timer and return results
  timer.stop()
  return timer.last

#loop function 10x
PolarsResult = [PolarsReadCSV() for PolarsResult in range(10)]

#calc mean time execution
meanPolarsResult = str(round(numpy.average(PolarsResult), 2))
sumPolarsResult = str(round(numpy.sum(PolarsResult), 2))
print('Mean Polars result: ' + meanPolarsResult + 's, the execution lasted: ' + sumPolarsResult + 's')

Task elapsed time: 0.2
Task elapsed time: 0.2
Task elapsed time: 0.2
Task elapsed time: 0.2
Task elapsed time: 0.2
Task elapsed time: 0.2
Task elapsed time: 0.2
Task elapsed time: 0.2
Task elapsed time: 0.3
Task elapsed time: 0.2
Mean Polars result: 0.24s, the execution lasted: 2.37s

Read CSV

In [6]:
plDF = pl.read_csv('C:/Users/Morgs/Documents/z - Learning/python/owid-covid-data.csv')
pdDF = pd.read_csv('C:/Users/Morgs/Documents/z - Learning/python/owid-covid-data.csv')

First value check

In [8]:
plDF.head() # Get the first n rows
#plDF.tail() # Get the last n rows
#plDF.unique() # Get unique values of this expression.

shape: (5, 67)
┌──────────┬───────────┬─────────┬─────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ iso_code ┆ continent ┆ locatio ┆ date    ┆ … ┆ excess_mor ┆ excess_mor ┆ excess_mor ┆ excess_mor │
│ ---      ┆ ---       ┆ n       ┆ ---     ┆   ┆ tality_cum ┆ tality_cum ┆ tality     ┆ tality_cum │
│ str      ┆ str       ┆ ---     ┆ str     ┆   ┆ ulative_ab ┆ ulative    ┆ ---        ┆ ulative_pe │
│          ┆           ┆ str     ┆         ┆   ┆ so…        ┆ ---        ┆ str        ┆ r_…        │
│          ┆           ┆         ┆         ┆   ┆ ---        ┆ str        ┆            ┆ ---        │
│          ┆           ┆         ┆         ┆   ┆ str        ┆            ┆            ┆ str        │
╞══════════╪═══════════╪═════════╪═════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ AFG      ┆ Asia      ┆ Afghani ┆ 2020-01 ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│          ┆           ┆ stan    ┆ -03     ┆   ┆            ┆            ┆            ┆            │
│ AFG      ┆ Asia      ┆ Afghani ┆ 2020-01 ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│          ┆           ┆ stan    ┆ -04     ┆   ┆            ┆            ┆            ┆            │
│ AFG      ┆ Asia      ┆ Afghani ┆ 2020-01 ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│          ┆           ┆ stan    ┆ -05     ┆   ┆            ┆            ┆            ┆            │
│ AFG      ┆ Asia      ┆ Afghani ┆ 2020-01 ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│          ┆           ┆ stan    ┆ -06     ┆   ┆            ┆            ┆            ┆            │
│ AFG      ┆ Asia      ┆ Afghani ┆ 2020-01 ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│          ┆           ┆ stan    ┆ -07     ┆   ┆            ┆            ┆            ┆            │
└──────────┴───────────┴─────────┴─────────┴───┴────────────┴────────────┴────────────┴────────────┘

Selecting Columns

In [57]:
# Pandas Columns
columns = ['iso_code', 'continent', 'location', 'total_cases']
columnspdDF = pdDF[columns] 
columnspdDF.head()

  iso_code continent     location  total_cases
0      AFG      Asia  Afghanistan          NaN
1      AFG      Asia  Afghanistan          NaN
2      AFG      Asia  Afghanistan          NaN
3      AFG      Asia  Afghanistan          NaN
4      AFG      Asia  Afghanistan          NaN

In [58]:
# Polars Columns bad way
columns = ['iso_code', 'continent', 'location', 'total_cases']
columnsplDF = plDF[columns] 
columnsplDF.head()

# Polars Columns Good way
#columns = ['iso_code', 'continent', 'location']
#plDF.select(pl.col(columns)).head()

shape: (5, 4)
┌──────────┬───────────┬─────────────┬─────────────┐
│ iso_code ┆ continent ┆ location    ┆ total_cases │
│ ---      ┆ ---       ┆ ---         ┆ ---         │
│ str      ┆ str       ┆ str         ┆ f64         │
╞══════════╪═══════════╪═════════════╪═════════════╡
│ AFG      ┆ Asia      ┆ Afghanistan ┆ null        │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ null        │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ null        │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ null        │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ null        │
└──────────┴───────────┴─────────────┴─────────────┘

Filtering Data

In [59]:
# Pandas
columnspdDF = columnspdDF.query('total_cases > 100000')
columnspdDF.head()

    iso_code continent     location  total_cases
533      AFG      Asia  Afghanistan     100521.0
534      AFG      Asia  Afghanistan     101906.0
535      AFG      Asia  Afghanistan     103902.0
536      AFG      Asia  Afghanistan     105749.0
537      AFG      Asia  Afghanistan     107957.0

In [60]:
# Polars
columnsplDF = columnsplDF.filter(pl.col('total_cases') > 100000)
columnsplDF.head()

shape: (5, 4)
┌──────────┬───────────┬─────────────┬─────────────┐
│ iso_code ┆ continent ┆ location    ┆ total_cases │
│ ---      ┆ ---       ┆ ---         ┆ ---         │
│ str      ┆ str       ┆ str         ┆ f64         │
╞══════════╪═══════════╪═════════════╪═════════════╡
│ AFG      ┆ Asia      ┆ Afghanistan ┆ 100521.0    │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ 101906.0    │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ 103902.0    │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ 105749.0    │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ 107957.0    │
└──────────┴───────────┴─────────────┴─────────────┘

Create Columns

In [70]:
# Pandas
columnspdDF["total_cases_new"] = columnspdDF["total_cases"]
columnspdDF.head()

    iso_code continent     location  total_cases  total_cases_new
533      AFG      Asia  Afghanistan     100521.0         100521.0
534      AFG      Asia  Afghanistan     101906.0         101906.0
535      AFG      Asia  Afghanistan     103902.0         103902.0
536      AFG      Asia  Afghanistan     105749.0         105749.0
537      AFG      Asia  Afghanistan     107957.0         107957.0

In [71]:
# Polars
columnsplDF.with_columns([(pl.col("total_cases")).alias("total_cases_new")])
columnsplDF.head()

# Polars for multiple columns
# df.with_columns([(pl.col("col") * 10).alias("new_col"), ...])

shape: (5, 4)
┌──────────┬───────────┬─────────────┬─────────────┐
│ iso_code ┆ continent ┆ location    ┆ total_cases │
│ ---      ┆ ---       ┆ ---         ┆ ---         │
│ str      ┆ str       ┆ str         ┆ f64         │
╞══════════╪═══════════╪═════════════╪═════════════╡
│ AFG      ┆ Asia      ┆ Afghanistan ┆ 100521.0    │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ 101906.0    │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ 103902.0    │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ 105749.0    │
│ AFG      ┆ Asia      ┆ Afghanistan ┆ 107957.0    │
└──────────┴───────────┴─────────────┴─────────────┘

Aggregation

In [80]:
# Pandas
columnspdDF.groupby('location')['total_cases'].agg('max')

location
Afghanistan       211630.0
Africa          13074358.0
Albania           333897.0
Algeria           271613.0
Angola            105353.0
                  ...
Venezuela         552398.0
Vietnam         11527745.0
World          762790388.0
Zambia            343415.0
Zimbabwe          264584.0
Name: total_cases, Length: 142, dtype: float64

In [89]:
# Polars
columnsplDF.groupby('location').agg([pl.max('total_cases')]).head()

shape: (5, 2)
┌──────────────────────┬─────────────┐
│ location             ┆ total_cases │
│ ---                  ┆ ---         │
│ str                  ┆ f64         │
╞══════════════════════╪═════════════╡
│ Zimbabwe             ┆ 264584.0    │
│ United Arab Emirates ┆ 1.058979e6  │
│ Russia               ┆ 2.2727542e7 │
│ North Macedonia      ┆ 347672.0    │
│ Guadeloupe           ┆ 202163.0    │
└──────────────────────┴─────────────┘

# SQL Use <br>
Ref: https://pola-rs.github.io/polars-book/user-guide/sql.html

In [91]:
# convert 'pokemon' into a Lazyframe by calling the .lazy() method
pokemon = pl.read_csv(
    "https://gist.githubusercontent.com/ritchie46/cac6b337ea52281aa23c049250a4ff03/raw/89a957ff3919d90e6ef2d34235e6bf22304f3366/pokemon.csv"
).lazy()

# initialize the SQL context and register the lazyframe
sql = pl.SQLContext()
sql.register("pokemon", pokemon)

In [93]:
out = sql.query(
    """
SELECT 
    "Type 1",
    COUNT(DISTINCT "Type 2") AS count_type_2,
    AVG(Attack) AS avg_attack_by_type,
    MAX(Speed) AS max_speed
FROM pokemon
GROUP BY "Type 1"
"""
)
out

shape: (15, 4)
┌──────────┬──────────────┬────────────────────┬───────────┐
│ Type 1   ┆ count_type_2 ┆ avg_attack_by_type ┆ max_speed │
│ ---      ┆ ---          ┆ ---                ┆ ---       │
│ str      ┆ u32          ┆ f64                ┆ i64       │
╞══════════╪══════════════╪════════════════════╪═══════════╡
│ Electric ┆ 3            ┆ 62.0               ┆ 140       │
│ Bug      ┆ 4            ┆ 76.428571          ┆ 145       │
│ Normal   ┆ 3            ┆ 70.625             ┆ 121       │
│ Ghost    ┆ 1            ┆ 53.75              ┆ 130       │
│ …        ┆ …            ┆ …                  ┆ …         │
│ Poison   ┆ 3            ┆ 74.428571          ┆ 90        │
│ Psychic  ┆ 2            ┆ 53.875             ┆ 150       │
│ Fairy    ┆ 1            ┆ 57.5               ┆ 60        │
│ Fighting ┆ 1            ┆ 102.857143         ┆ 95        │
└──────────┴──────────────┴────────────────────┴───────────┘